@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$header-color: #fff;
$header-background: #333;
$header-hover: #666;

$footer-color: #fff;
$footer-background: #333;
$footer-hover: #666;

$sidebar-color: #000;
$sidebar-background: #9a9a9a;

$success-color: #28a745;
$primary-color: #007bff;
$secondary-color: #6c757d;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$darkgray-color: #343a40;
$gray-color: #6c757d;
$light-color: #f8f9fa;

$list-hover: #dedede;
$list-active: #007bff;

$btn-background: #dedede;

// $--bs-primary: #0d6efd;
// $--bs-secondary: #6c757d;
// $--bs-success: #28a745 !important;
// $--bs-info: #0dcaf0;
// $--bs-warning: #ffc107;
// $--bs-danger: #dc3545;
// $--bs-light: #f8f9fa;
// $--bs-dark: #212529;

html,
body {
  width: 100vw;
  height: 100vh;
  min-width: 450px !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  zoom: 1;
}

ul {
  list-style: none;
  padding: 5px;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

textarea {
  resize: none;
  border: none;
  border-bottom: #666 solid 1px;
  padding: 5px 5px 0 5px;
  outline: none;
  width: 100%;
  height: 100%;
  min-height: 10px;
  border-radius: 5px;
}

table {
  width: 100%;
  // font-size: 0.9rem;
  &.header-contrast {
    thead {
      tr {
        background: #666;

        th,
        th::after,
        th::before {
          font-weight: 300;
          color: #fff;
          td {
            vertical-align: middle;
          }
        }
      }
    }
  }

  &.no-header {
    thead {
      display: none;

      tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }
    }
  }

  .expander {
    cursor: pointer;
  }

  [level="1"] {
    background: rgba(36, 47, 148, 0.3);
  }

  [level="2"] {
    background: rgba(40, 167, 69, 0.3);
  }

  [level="3"] {
    background: rgba(255, 193, 7, 0.3);
  }

  [level="4"] {
    background: #fff;
  }

  [level="99"] {
    background: #666;
    color: #fff;
  }

  &.compact {
    font-size: 0.75rem;
    tr,
    th {
      td {
        padding: 2px 4px;
      }
    }
    .progress,
    .progress-bar {
      height: 15px !important;
    }
  }
}

button {
  outline: none;
}

:not(input),
:not(textarea) {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
        supported by Chrome, Edge, Opera and Firefox */
}

input,
select {
  height: 20px;
  border: none;
  border-bottom: #333 solid 1px;
  outline: none;
  border-radius: 5px;
}

.text-xxl {
  font-size: 2rem;
}
.text-xl {
  font-size: 1.5rem;
}
.text-lg {
  font-size: 1.2rem;
}
.text-md {
  font-size: 1rem;
}
.text-sm {
  font-size: 0.9rem;
}

.btn {
  border-radius: 5px;
}
.btn-round {
  border-radius: 50%;
}

.no-wrap {
  overflow: hidden;
  white-space: nowrap;
}

.wrapper {
  max-width: 100vw;
  max-height: 100vh;
  z-index: 10;
}

.content-wrapper {
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
    // max-height: calc(100vh - 60px);
    overflow-y: auto;
    .page-content {
      .pages {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 60px - 30px);
      }
    }
  }
}

#page-loader {
  width: 100%;
  height: calc(100% - 60px);

  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("./assets/images/square-loading-2.gif");
  backdrop-filter: blur(2px) opacity(0.8);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 200;
}

#snackbar {
  visibility: hidden;
  width: 30%;
  min-width: 150px;
  max-width: 550px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  z-index: 9999;
  bottom: 30px;
  font-size: 0.9rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);

  &.success {
    background-color: #00a65a;
  }

  &.error {
    background-color: #dd4b39;
  }

  &.normal {
    background-color: #444;
  }

  &.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3.7s;
    animation: fadein 0.5s, fadeout 0.5s 3.7s;
  }
}

#main-header {
  z-index: 99;
  width: 100vw;
  height: 60px;
  background-color: $header-background;
  color: $header-color;
  top: 0;
  position: sticky;
}

#main-footer {
  height: 30px;
  background-color: $footer-background;
  color: $footer-color;
  // bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

#main-sidebar {
  z-index: 98;
  width: 160px;
  flex-shrink: 0;
  background-color: $sidebar-background;
  color: $sidebar-color;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: width 0.5s;
  &.hidden {
    display: none;
    transition: width 0.5s;
    // visibility: hidden;
  }
}

#dropdown-settings {
  position: fixed;
  top: 65px;
  right: 20px;
  min-height: 60px;
  height: max-content;
  width: 180px;
  z-index: 100;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: height 0.5s ease-in-out;
}

.dropdown-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $header-background;
  padding: 5px;
  border-radius: 5px;
  div {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover {
      background-color: $header-hover;
    }
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  .nav-item {
    padding: 5px;
    height: 60px;
    label,
    select {
      display: block;
    }
    select {
      width: 100%;
    }
  }
}

.btn-navbar {
  width: 100%;
  background-color: $sidebar-background;
  border: 2px solid #333;
  text-align: center;
  &:hover {
    background-color: $header-background;
    color: $header-color;
  }
}

.header {
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
}

.btn-menu {
  height: 50px;
  width: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  &:hover {
    background-color: $header-hover;
  }
}

.brand {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navbar {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  margin-right: 10px;

  .nav-item {
    text-align: center;
    width: max-content;
    border-radius: 5px;
    padding: 10px;
    &:hover {
      background-color: $header-hover;
      cursor: pointer;
    }
    &.active {
      background-color: $header-hover;
    }

    &.last {
      align-self: flex-end;
    }
  }
}

.hidden {
  visibility: hidden;
}

.card {
  z-index: 10;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  .card-header {
    width: 100%;
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    background-color: #fff;
    padding: 4px;
  }

  .card-content {
    width: 100%;
    min-height: 200px;
    max-height: 85vh;
  }
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
}

@keyframes flyin {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes flyout {
  from {
    opacity: 100;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-200px);
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  opacity: 1;
  backdrop-filter: blur(2px);
  color: #000;
  // transition: all 0.5s ease-in;
  .modal-content {
    display: flex;
    flex-direction: column;
    height: max-content;
    top: 100px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    max-width: 800px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fefefe;
    // transform: translateX(-100px);
    // transition: transform 1s ease-in 0.5s;
    &.flyin {
      animation: flyin 0.25s ease-in;
    }
    &.flyout {
      animation: flyout 0.25s ease-out 0.25s;
    }
    &.sm {
      width: 300px;
    }
    &.md {
      width: 400px;
    }
    &.lg {
      width: 500px;
    }
    &.xl {
      width: 600px;
    }
    &.xxl {
      width: 700px;
    }
    .modal-header {
      max-height: 50px;
      width: 100%;
      padding: 0px 10px 5px;
      display: flex;
      justify-items: stretch;
      align-items: center;
      .header-content {
        flex-grow: 1;
      }
    }
    .modal-body {
      width: 100%;
      padding: 10px;
      max-height: 400px;
      display: flex;
      flex-direction: column;
      justify-items: left;
      align-items: center;
      min-height: 80px;
    }
    .modal-footer {
      width: 100%;
      padding: 5px 10px 0;
      display: flex;
      justify-items: stretch;
      align-items: center;
      max-height: 60px;
    }
  }
}

.btn-ok,
.btn-cancel,
.btn-close {
  padding: 5px;
  border-radius: 5px;
  border: 0;
  background-color: $btn-background;
  font-weight: bold;
}

.btn-ok {
  padding: 5px 10px;
  &:hover {
    background-color: $success-color;
    color: $light-color;
  }
}

.btn-cancel {
  padding: 5px 10px;
  &:hover {
    background-color: $warning-color;
    color: $light-color;
  }
}

.btn-close {
  &:hover {
    background-color: $secondary-color;
    color: $light-color;
  }
}

.group-input {
  display: flex;
  &.inline {
    flex-direction: row;
    justify-items: stretch;
  }
  &.two-lines {
    flex-direction: column;
    // justify-content: space-around;
  }
}

.fw {
  width: 100%;
}

#btn-login {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  font-size: 18px;
  background-color: $info-color;
  color: $light-color;
  &:hover {
    animation: scale(1.2) 0.25s infinite;
  }
}

.fit-table {
  height: fit-content;
  min-height: 200px;
  max-height: 85vh;
  overflow: auto;
}

.footer {
  padding: 0 20px;
}

.custom-scrollbar {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #b7d0d3;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    // display: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #666;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    display: block;
  }
}

.final {
  background-color: #9af0ae;
}

.partial {
  background-color: #9af0ae;
}

.walkdown {
  background-color: #f2f672;
}

.ready {
  background-color: #8cdef3;
}

.sub-system {
  cursor: pointer;
  &:hover {
    // background-color: rgba(0, 0, 0, 0.2);
    text-decoration: underline;
  }
}

@media screen and (max-width: 580px) {
  .brand {
    display: none;
  }
  .nav-item {
    padding: 5px;
  }

  #main-sidebar {
    width: 0;
    div {
      visibility: hidden;
    }
  }
}
