<div class="header">
  <div id="btn-menu" class="btn-menu btn btn-lg">
    <i class="fas fa-th-large text-xl"></i>
  </div>
  <section class="brand">
    <div class="logo"></div>
    <div class="tradmark text-lg">PRECOM COMM REPORT</div>
  </section>
  <!-- <section class="space"></section> -->
  <nav class="navbar">

    <div class="nav-item" id="summary" data-target="summary" title="Summary">
      <i class="fas fa-chart-pie text-lg"></i>
      <span>Summary</span>

    </div>
    <div class="nav-item" id="subsystem" data-target="subsystem" title="Sub-systems">
      <i class="far fa-list-alt text-lg"></i>
      <span>Sub-systems</span>
    </div>


    <div class="nav-item" id="skyline" data-target="skyline" title="Skyline">
      <i class="far fa-chart-bar text-lg"></i>
      <span>Skyline</span>
    </div>
    <div class="nav-item" id="scurvecs" data-target="scurvecs" title="S-Curve Checksheet">
      <i class="fas fa-chart-line text-lg"></i>
      <span>S-Curve Checksheet</span>
    </div>
    <div class="nav-item" id="scurvedossier" data-target="scurvedossier" title="S-Curve Handover">
      <i class="fas fa-chart-area text-lg"></i>
      <span>S-Curve Handover</span>
    </div>
    <div class="nav-item" id="checksheet" data-target="checksheet" title="Check sheets">
      <i class="fas fa-file-contract text-lg"></i>
      <span>Check sheets</span>
    </div>
    <div class="nav-settings" data-action="dropdown" target-action="#dropdown-settings" title="Settings">
      <span><i class="fas fa-cogs text-lg"></i></span>

    </div>

    <div id="dropdown-settings" class="dropdown-list hidden">
      <div id="btn-login" action="open-modal" target="#modal-user">
        <i class="fas fa-sign-in-alt "></i>
        <span>Log in</span>
      </div>
      <div id="settings" data-target="settings">
        <i class="fas fa-cog"></i>
        <span>Settings</span>
      </div>
      <div id="btn-refresh">
        <i class="fas fa-sync-alt"></i>
        <span>Refresh</span>
      </div>
    </div>

  </nav>
  <div class="modal hidden" id="modal-username">
    <div class="modal-content md">
      <div class="modal-header">
        <div class="header-content">User name</div>
        <div class="header-action">
          <button class="btn-close" target-action="dismiss">
            <i class="fas fa-times fa-fw"></i>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="group-input two-lines fw">
          <label for="username">Please input your Username</label>
          <input type="text" name="username" id="username">

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-ok" target-action="submit">OK</button>
        <button class="btn btn-cancel" target-action="dismiss">Cancel</button>
      </div>

    </div>

  </div>


  <script>

    $(document).ready(function () {

      $('.navbar .nav-item')
        .on('click', function (e) {
          let target = $(this)
          let tab = $(target).attr('data-target')
          // localStorage.setItem('selectTab', tab)
          storedSelection = {
            ...storedSelection,
            ...{
              tab: tab
            }
          }
          localStorage.setItem('storedSelection', JSON.stringify(storedSelection))
          navigate(tab)
        })

      $('[data-action=dropdown]').on('click', function (e) {

        let target = $(this).attr('target-action')
        console.log($(target));
        let isHidden = $(target).hasClass('hidden')
        console.log(isHidden);
        if (isHidden) {
          $(target).removeClass('hidden')
        } else {
          $(target).addClass('hidden')
        }
      })

      $('#btn-menu').on('click', function (e) {
        let hide = $('#main-sidebar').hasClass('hidden')
        if (!hide) {
          $('#main-sidebar').addClass('hidden')
          $('#main-sidebar').attr('aria-display', 'hidden')
          localStorage.setItem('showSidebar', 0)
        } else {
          $('#main-sidebar').removeClass('hidden')
          $('#main-sidebar').attr('aria-display', 'show')
          localStorage.setItem('showSidebar', 1)
        }
      })

      $('#btn-refresh').on('click', function (e) {
        localStorage.removeItem('errorCount')
        localStorage.removeItem('skylineData')
        localStorage.removeItem('summaryData')
        reloadPage()
        // window.location.reload()
      })

      $('#btn-login').on('click', function (e) {
        $('.modal').removeClass('hidden')
        let modalcontent = $('#modal-username').find('.modal-content')
        $(modalcontent).removeClass('flyout')

        $(modalcontent).addClass('flyin')


      })

      $('.modal').find('.btn-close, .btn-cancel').on('click', function (e) {
        let modal = $(this).parents('.modal')
        let modalcontent = $(this).parents('.modal-content')
        $(modalcontent).removeClass('flyin')
        $(modalcontent).addClass('flyout')

        window.setTimeout(() => $(modal).addClass('hidden'), 500)

      })
    })
  </script>


</div>