<div class="sidebar-nav">
    <div class="nav-item">
        <label for="select-location">Location</label>
        <select name="select-location" id="select-location" class="nav-select">
            <option value="ALL">ALL</option>
            <option value="ONV">Onshore</option>
            <option value="OFQ">Offshore</option>
        </select>
    </div>
    <div class="nav-item">
        <label for="select-facility">Facility</label>
        <select name="select-facility" id="select-facility" class="nav-select">
            <option value="JA">JA TOPSIDE</option>
            <option value="KA">KA TOPSIDE</option>
        </select>
    </div>
    <div class="nav-item">
        <label for="select-phase">Phase</label>
        <select name="select-phase" id="select-phase" class="nav-select">
            <option value="RFC">RFC</option>
            <option value="AOC">AOC</option>
            <!-- <option value="RFC&AOC">ALL</option> -->
        </select>

    </div>
    <div class="nav-item">
        <label for="select-discipline">Discipline</label>
        <select name="select-discipline" id="select-discipline" class="nav-select">
        </select>
    </div>

    <div class="nav-item">
        <label for="select-subsystem">Sub-System</label>
        <select name="select-subsystem" id="select-subsystem" class="nav-select">
        </select>
    </div>

    <div class="nav-item">
        <div class="btn btn-navbar" id="btn-filter">Filter</div>
    </div>

    <script>
        const disciplines = [
            { short: 'ELE', full: 'Electrical' },
            { short: 'INS', full: 'Instrument' },
            { short: 'PVV', full: 'Piping' },
            { short: 'MEC', full: 'Mechanical' },
            { short: 'TEL', full: 'Telecom' },
            { short: 'BLD', full: 'Building' },
            { short: 'SAF', full: 'Safety' },
            { short: 'HVAC', full: 'HVAC' }]

        const disciplinesWithAll = [
            { short: 'All', full: 'ALL' },
            ...disciplines
        ]
        $(document).ready(function () {
            $('#select-discipline').append(function () {
                return disciplinesWithAll.map(x => `<option value="${x.short}">${x.full}</option>`).join('')
            })

            let subsystems = skylineData.map(x => {
                return {
                    "SubSystem": x.SubSystem,
                    "Description": x.Description
                }
            })

            subsystemsWithAll = [
                {
                    "SubSystem": 'All',
                    "Description": "ALL"
                }, ...subsystems
            ]
            $('#select-subsystem').append(function () {
                return subsystemsWithAll.map(x => `<option value="${x.SubSystem}">${x.SubSystem}</option>`).join('')
            })
            $('#select-location').val(selectLocation)
            $('#select-facility').val(selectFacility)
            $('#select-phase').val(selectPhase)
            $('#select-discipline').val(selectDiscipline)
            $('#select-subsystem').val(selectSubsystem)


            $('#select-location').on('change', function (e) {
                selectLocation = $(this).val()
                storedSelection = {
                    ...storedSelection,
                    ...{
                        location: selectLocation
                    }
                }
                // console.log(storedSelection);
                localStorage.setItem('storedSelection', JSON.stringify(storedSelection))
            })

            $('#select-facility').on('change', function (e) {
                selectFacility = $(this).val()
                storedSelection = {
                    ...storedSelection,
                    ...{
                        facility: selectFacility
                    }
                }
                localStorage.setItem('storedSelection', JSON.stringify(storedSelection))
            })

            $('#select-phase').on('change', function (e) {
                selectPhase = $(this).val()
                storedSelection = {
                    ...storedSelection,
                    ...{
                        phase: selectPhase
                    }
                }
                localStorage.setItem('storedSelection', JSON.stringify(storedSelection))
            })

            $('#select-discipline').on('change', function (e) {
                selectDiscipline = $(this).val()
                storedSelection = {
                    ...storedSelection,
                    ...{
                        disciplines: selectDiscipline
                    }
                }
                localStorage.setItem('storedSelection', JSON.stringify(storedSelection))
            })

        })
    </script>

</div>