<div class="modal" id="modal-username">
    <div class="modal-content md">
        <div class="modal-header">
            <div class="header-content">User name</div>
            <div class="header-action">
                <button class="btn-close" target-action="dismiss">
                    <i class="fas fa-times fa-fw"></i>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="group-input two-lines fw">
                <label for="username">Please input your Username</label>
                <input type="text" name="username" id="username">

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-ok" target-action="submit">OK</button>
            <button class="btn btn-cancel" target-action="dismiss">Cancel</button>
        </div>

    </div>

</div>